<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr</string>
	<key>CFBundleDisplayName</key>
	<string>HoutaLik</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Cette application requiert l&apos;accès à la caméra pour que les propriétaires de magasins puissent se connecter à leur compte.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Cette application nécessite l'accès à votre bibliothèque de photos pour permettre aux poissonneries de télécharger des images de leurs poissons. Cela permet aux utilisateurs de consulter et d'explorer une grande variété d'espèces de poissons disponibles à l'achat.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Cette application requiert l&apos;accès à la localisation précise pour afficher les poissonneries à proximité.</string>
	<key>UIAppFonts</key>
	<array>
		<string>KumbhSans-Black.ttf</string>
		<string>KumbhSans-Bold.ttf</string>
		<string>KumbhSans-ExtraBold.ttf</string>
		<string>KumbhSans-ExtraLight.ttf</string>
		<string>KumbhSans-Light.ttf</string>
		<string>KumbhSans-Medium.ttf</string>
		<string>KumbhSans-Regular.ttf</string>
		<string>KumbhSans-SemiBold.ttf</string>
		<string>KumbhSans-Thin.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Cette application requiert l&apos;accès à la localisation précise pour afficher les poissonneries à proximité.</string>
</dict>
</plist>
